<!DOCTYPE html>
<html>
<head>
  <title>Rouxconferenceapp</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!-- Jquery -->
  <%= jquery_include_tag Rails.application.config.jquery_version %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
